streamlit==1.52.1
elasticsearch==9.2.0
faiss-cpu==1.13.1
psycopg2-binary==2.9.11
jikanpy-v4==1.0.2
python-dotenv==1.2.1
pandas==2.3.3
numpy==2.3.5
requests==2.32.5
sentence-transformers==5.1.2
tqdm==4.67.1
pydantic==2.12.5